<form [formGroup]="productForm" (ngSubmit)="addProduct()">
  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="description" />
  <br />
  <label for="description">Purchase Price: </label>
  <input id="purchasePrice" type="number" formControlName="purchasePrice" />
  <br />
  <label for="description">Sale Price: </label>
  <input id="salePrice" type="number" formControlName="salePrice" />
  <br />
  <label for="description">Stock: </label>
  <input id="stock" type="number" formControlName="stock" />
  <br />
  <label for="description">Picture: </label>
  <input id="picture" type="text" formControlName="picture" />
  <br />
  <button type="submit">Add product</button>
</form>

<pre>
    {{ productForm.value | json }}
</pre>
<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Description</th>
      <th>Purchase Price</th>
      <th>Sale Price</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products | async">
      <td><img [src]="p.picture" width="60px" /></td>
      <td>{{ p.description }}</td>
      <td>{{ p.purchasePrice }}</td>
      <td>{{ p.salePrice }}</td>
      <td>{{ p.stock }}</td>
      <td>
          <button (click)="showProduct(p.productId)">Update</button>
      </td>
      <td>
        <button (click)="productService.deleteProduct(p.productId)">X</button>
      </td>
    </tr>
  </tbody>
</table>
